services:
  database:
    image: pgvector/pgvector:pg17
    container_name: postgres-db
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - backend
  pgweb:
    container_name: pgweb
    restart: always
    image: sosedoff/pgweb
    ports:
      - "8081:8081"
    networks:
      - backend

  api:
    build: .
    tty: true
    ports:
      - "5000:5000"
    networks:
      - backend
    env_file:
      - .env
    volumes:
      - ./:/app

  celery-worker:
    build: .
    command: celery -A celery_app worker --loglevel=info --concurrency=5
    container_name: celery-worker
    networks:
      - backend
    volumes:
      - ./:/app
    env_file:
      - .env

  redis:
    container_name: redis-db
    image: redis:8-alpine
    networks:
      - backend
    volumes:
      - redis-data:/data

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8082:8081"
    networks:
      - backend

volumes:
  postgres-data:
  redis-data:

networks:
  backend:
