services:
  database:
    image: pgvector/pgvector:pg17
    container_name: postgres-db
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - backend
  pgweb:
    container_name: pgweb
    restart: always
    image: sosedoff/pgweb
    ports:
      - "8081:8081"
    networks:
      - backend

  api:
    build: .
    tty: true
    ports:
      - "5000:5000"
    networks:
      - backend
    env_file:
      - .env
    volumes:
      - ./:/app

volumes:
  postgres-data:

networks:
  backend:
